@import "../../assets/tokens/index.less";

.fk-cavatar {
  --fk-avatar-stroke-width: 1px;
  --fk-avatar-status-rotate: 2deg;
  --fk-avatar-status-radius: 0px;
  --fk-avatar-status-ring: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  background-color: var(--fk-light-purple);
  color: var(--fk-text-primary-alt);
  user-select: none;

  &--stroke::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: inset 0 0 0 var(--fk-avatar-stroke-width) var(--fk-bg-stroke);
  }

  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
  }

  &__initials {
    leading-trim: both;
    text-edge: cap;
  }

  &__status {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translate(30%, 30%) rotate(var(--fk-avatar-status-rotate));

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background: var(--fk-bg-primary);
      inset: calc(-1 * var(--fk-avatar-status-ring));
      border-radius: calc(var(--fk-avatar-status-radius) + var(--fk-avatar-status-ring)
      );
    }
  }

  &--size-24 {
    width: 24px;
    height: 24px;
    border-radius: var(--fk-radius-40);
  }

  &--size-32 {
    width: 32px;
    height: 32px;
    border-radius: var(--fk-radius-40);
  }

  &--size-40 {
    width: 40px;
    height: 40px;
    border-radius: var(--fk-radius-8);
    --fk-avatar-status-radius: var(--fk-radius-6);
    --fk-avatar-status-ring: 2px;
  }

  &--size-48 {
    width: 48px;
    height: 48px;
    border-radius: var(--fk-radius-10);
    --fk-avatar-status-radius: var(--fk-radius-6);
    --fk-avatar-status-ring: 2px;
  }

  &--size-64 {
    --fk-avatar-status-rotate: 4deg;
    width: 64px;
    height: 64px;
    border-radius: var(--fk-radius-12);
    --fk-avatar-status-radius: var(--fk-radius-6);
    --fk-avatar-status-ring: 3px;
  }

  &--size-80 {
    --fk-avatar-stroke-width: 2px;
    --fk-avatar-status-rotate: 4deg;
    width: 80px;
    height: 80px;
    border-radius: var(--fk-radius-16);
    --fk-avatar-status-radius: var(--fk-radius-10);
    --fk-avatar-status-ring: 4px;
  }
}