@import "../../assets/tokens/index.less";

.cavatar {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
  color: var(--text-primary-alt);
  box-shadow: inset 0 0 1px transparent;
  user-select: none;

  &--stroke {
    box-shadow: inset 0 0 0 1px var(--bg-stroke);
  }

  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;

    &--stroke {
      box-shadow: inset 0 0 0 1px var(--bg-stroke);
    }
  }

  &__initials {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: inherit;
    text-align: center;
  }

  &__status {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0;
    z-index: 1;
    transform: translate(30%, 30%) rotate(4deg);
  }

  &--size-24 {
    width: 24px;
    height: 24px;
    border-radius: var(--radius-40);

    //.cavatar__initials {
    //  font-size: 12px;
    //  line-height: 12px;
    //}
  }

  &--size-32 {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-40);

    //.cavatar__initials {
    //  font-size: 17px;
    //  line-height: 17px;
    //}
  }

  &--size-40 {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-8);

    //.cavatar__initials {
    //  font-size: 20px;
    //  line-height: 24px;
    //}

    .cavatar__status {
      .cavatar-status--size-s {
        border: 2px solid #FFFFFF;
        background-clip: padding-box;
        padding: 0;
      }
    }
  }

  &--size-48 {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-10);

    //.cavatar__initials {
    //  font-size: 24px;
    //  line-height: 24px;
    //}

    .cavatar__status {
      .cavatar-status--size-s {
        border: 2px solid #FFFFFF;
        background-clip: padding-box;
        padding: 0;
      }
    }
  }

  &--size-64 {
    width: 64px;
    height: 64px;
    border-radius: var(--radius-12);

    //.cavatar__initials {
    //  font-size: 32px;
    //  line-height: 32px;
    //}

    .cavatar__status {
      .cavatar-status--size-m {
        border: 2px solid #FFFFFF;
        background-clip: padding-box;
      }
    }
  }

  &--size-80 {
    width: 80px;
    height: 80px;
    border-radius: var(--radius-16);

    //.cavatar__initials {
    //  font-size: 40px;
    //  line-height: 40px;
    //}

    .cavatar__status {
      .cavatar-status--size-l {
        border: 2px solid #FFFFFF;
        background-clip: padding-box;
      }
    }

    .cavatar__image--stroke {
      box-shadow: inset 0 0 0 2px var(--bg-stroke);
    }

    &.cavatar--stroke {
      box-shadow: inset 0 0 0 2px var(--bg-stroke);
    }
  }
}