@import "../../assets/tokens/index.less";

.fk-csnackbar {
  padding: var(--fk-space-12);
  box-sizing: border-box;

  &__content {
    display: flex;
    align-items: center;
    gap: var(--fk-space-8);
    padding: 0 var(--fk-space-8);
    border-radius: var(--fk-radius-16);
    background-color: var(--fk-bg-inverted);
    color: var(--fk-text-inverted);
  }

  &__icon-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--fk-space-10) 0 var(--fk-space-10) var(--fk-space-8);
  }

  &__icon {
    display: inline-flex;

    &--success {
      color: var(--fk-light-green);
    }

    &--error {
      color: var(--fk-light-red);
    }

    &--warning {
      color: var(--fk-light-yellow);
    }

    &--info {
      color: var(--fk-normal-purple);
    }
  }

  &__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--fk-space-2);
    min-width: 0;
    padding: var(--fk-space-12) 0;
  }

  &__title,
  &__message {
    color: inherit !important;
  }

  &__action-button-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  &__action-button {
    color: var(--fk-text-inverted) !important;
  }
}
