@import "./palette.less";

@color-constants: {
  brand-timepad-dark: var(--fk-382631);
  brand-timepad-purple: var(--fk-7D5BFF);

  greyscale-900: var(--fk-000000);
  greyscale-800: var(--fk-1C1C1C);
  greyscale-700: var(--fk-2B2E31);
  greyscale-600: var(--fk-42464B);
  greyscale-500: var(--fk-696D73);
  greyscale-400: var(--fk-9B9FA6);
  greyscale-300: var(--fk-C7CACE);
  greyscale-200: var(--fk-E2E4E7);
  greyscale-100: var(--fk-F4F2F8);
  greyscale-0: var(--fk-FFFFFF);

  darkest-red: var(--fk-EF4444);
  dark-red: var(--fk-F05656);
  normal-red: var(--fk-F16888);
  light-red: var(--fk-F6B1B1);

  darkest-pink: var(--fk-DA42D0);
  dark-pink: var(--fk-EF66E6);
  normal-pink: var(--fk-FA85EB);
  light-pink: var(--fk-E0AFFF);

  darkest-yellow: var(--fk-FB8115);
  dark-yellow: var(--fk-FAC000);
  normal-yellow: var(--fk-FFF177);
  light-yellow: var(--fk-FEECA3);

  darkest-green: var(--fk-3A8E26);
  dark-green: var(--fk-59C836);
  normal-green: var(--fk-77EF45);
  light-green: var(--fk-C8FFB1);

  dark-blue: var(--fk-3B82F6);

  darkest-chocolate: var(--fk-281621);
  dark-chocolate: var(--fk-382631);
  normal-chocolate: var(--fk-4E3B47);
  light-chocolate: var(--fk-7E6B77);

  darkest-purple: var(--fk-7133D3);
  dark-purple: var(--fk-7D5BFF);
  normal-purple: var(--fk-B1BFFE);
  light-purple: var(--fk-F0F3FF);
};

@emit-color-constants: {
  each(@color-constants, {
      --fk-@{key}: @{value};
    });
};
