/* colors */
:root {
  --fk-000000: #000000;
  --fk-1C1C1C: #1c1c1c;
  --fk-2B2E31: #2b2e31;
  --fk-42464B: #42464b;
  --fk-696D73: #696d73;
  --fk-9B9FA6: #9b9fa6;
  --fk-C7CACE: #c7cace;
  --fk-E2E4E7: #e2e4e7;
  --fk-F4F2F8: #f4f2f8;
  --fk-FFFFFF: #ffffff;
  --fk-C7CACE-50: rgba(199, 202, 206, 0.5);
  --fk-42464B-10: rgba(66, 70, 75, 0.1);
  --fk-7133D3: #7133d3;
  --fk-7D5BFF: #7d5bff;
  --fk-B1BFFE: #b1bffe;
  --fk-F0F3FF: #f0f3ff;
  --fk-EF4444: #ef4444;
  --fk-F05656: #f05656;
  --fk-F16888: #f16888;
  --fk-F6B1B1: #f6b1b1;
  --fk-FB8115: #fb8115;
  --fk-FAC000: #fac000;
  --fk-FFF177: #fff177;
  --fk-FEECA3: #feeca3;
  --fk-3A8E26: #3a8e26;
  --fk-59C836: #59c836;
  --fk-77EF45: #77ef45;
  --fk-C8FFB1: #c8ffb1;
  --fk-3B82F6: #3b82f6;
  --fk-281621: #281621;
  --fk-382631: #382631;
  --fk-4E3B47: #4e3b47;
  --fk-7E6B77: #7e6b77;
  --fk-DA42D0: #da42d0;
  --fk-EF66E6: #ef66e6;
  --fk-FA85EB: #fa85eb;
  --fk-E0AFFF: #e0afff;
  --fk-1C1C1C-40: rgba(28, 28, 28, 0.4);
}
