@font-face {
  font-family: "TT Backwards Sans Bold";
  src: url("../fonts/TT-Backwards-Sans-Bold.woff2") format("woff2"),
    url("../fonts/TT-Backwards-Sans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "TT Backwards Sans Regular";
  src: url("../fonts/TT-Backwards-Sans-Regular.woff2") format("woff2"),
    url("../fonts/TT-Backwards-Sans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Variable";
  src: url("../fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@fonts: {
  tt-bold: "TT Backwards Sans Bold";
  tt-regular: "TT Backwards Sans Regular";
  inter-bold: "Inter Bold";
  inter-semibold: "Inter SemiBold";
  inter-medium: "Inter Medium";
  inter-regular: "Inter Regular";
  inter-variable: "Inter Variable";
};
