@import "../../assets/tokens/index.less";

.fk-cicon-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: transform 0.05s ease-out;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background-color: var(--fk-btn-hover);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: inline-flex;
  }

  &__primary {
    color: var(--fk-greyscale-0);
    background-color: var(--fk-btn-primary-active);
  }

  &__primary-alternate {
    color: var(--fk-greyscale-0);
    background-color: var(--fk-btn-secondary-active);
  }

  &__secondary {
    color: var(--fk-dark-purple);
    background-color: var(--fk-btn-tertiary-active);
  }

  &__negative {
    color: var(--fk-dark-red);
    background-color: var(--fk-btn-tertiary-active);
  }

  &:disabled {
    color: var(--fk-greyscale-400);
    background-color: var(--fk-btn-inactive);
    pointer-events: none;
    transform: none;
  }

  &__transparent {
    background-color: transparent;
    color: var(--fk-icon-primary);
  }

  &--size-m {
    height: 40px;
    width: 40px;
    padding: var(--fk-space-8);
    border-radius: var(--fk-radius-10);
  }

  &--size-s {
    height: 32px;
    width: 32px;
    padding: var(--fk-space-4);
    border-radius: var(--fk-radius-8);
  }

  &--size-xs {
    height: 24px;
    width: 24px;
    padding: var(--fk-space-4);
    border-radius: var(--fk-radius-6);
  }

  &:hover:not(:disabled) {
    &::after {
      opacity: 1;
    }
  }

  &:active:not(:disabled) {
    &.fk-cicon-button--size-m {
      transform: scale(0.95); // 40px → ~38px
    }

    &.fk-cicon-button--size-s {
      transform: scale(0.9375); // 32px → ~30px
    }

    &.fk-cicon-button--size-xs {
      transform: scale(0.917); // 24px → ~22px
    }
  }
}
