@import "../../assets/tokens/index.less";

.fk-cbreadcrumbs {
  display: flex;
  
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--fk-space-2);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: var(--fk-space-2);
  }

  &__separator {
    display: inline-flex;
    color: var(--fk-text-link-secondary);
  }

  &__link {
    color: var(--fk-text-link-secondary);
    text-decoration: none;
    cursor: pointer;

    &:hover:not(.fk-cbreadcrumbs__link--current) {
      text-decoration: underline;
      text-decoration-color: var(--fk-text-link-secondary);
    }

    &--current {
      cursor: default;
      color: var(--fk-text-primary);
      pointer-events: none;
    }
  }

  &__link-text {
    color: inherit !important;
  }
}
