.fk-ctertiary-banner {
  display: flex;
  align-items: flex-start;
  gap: var(--fk-space-10);
  padding: var(--fk-space-8) var(--fk-space-10);
  border-radius: var(--fk-radius-10);

  &__icon-container {
    position: relative;
    width: 16px;
    height: 16px;
  }

  &__icon {
    display: inline-flex;
    position: absolute;
    top: -4px;
    left: -4px;
  }

  &__text {
    color: inherit !important;
  }

  &--base {
    background-color: var(--fk-bg-secondary);
    color: var(--fk-text-primary);

    .fk-ctertiary-banner__icon {
      &--info {
        color: var(--fk-dark-purple);
      }
      &--success {
        color: var(--fk-dark-green);
      }
      &--warning {
        color: var(--fk-dark-yellow);
      }
      &--error {
        color: var(--fk-dark-red);
      }
    }
  }

  &--inverted {
    background-color: var(--fk-bg-inverted);
    color: var(--fk-text-inverted);

    .fk-ctertiary-banner__icon {
      &--info {
        color: var(--fk-normal-purple);
      }
      &--success {
        color: var(--fk-light-green);
      }
      &--warning {
        color: var(--fk-light-yellow);
      }
      &--error {
        color: var(--fk-light-red);
      }
    }
  }
}
