@import (reference) "../../assets/tokens/index.less";

.fk-clink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    .fk-clink__label {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }

  &__content {
    display: inline-flex;
    align-items: center;
    gap: var(--fk-space-4);

    &--icon-position-left {
      flex-direction: row-reverse;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--fk-text-link-primary);

    svg {
      width: 16px;
      height: 16px;
      display: block;
    }
  }

  &__label {
    display: inline-block;
    text-decoration: none;
    color: var(--fk-text-link-primary);
  }

  &--size-s {
    .fk-clink__label {
      text-underline-offset: 3px;
    }
  }

  &--size-m {
    .fk-clink__label {
      text-underline-offset: 4px;
    }
  }

  &--size-l {
    .fk-clink__label {
      text-underline-offset: 5px;
    }
  }
}
