@import "../../assets/tokens/index.less";

.clink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--radius-6);
  cursor: pointer;

  &:hover {
    .clink__label {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }

  &__content {
    display: inline-flex;
    align-items: center;
    gap: var(--space-4);

    &--icon-position-left {
      flex-direction: row-reverse;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
      width: 16px;
      height: 16px;
      display: block;
    }
  }

  &__label {
    display: inline-block;
    color: var(--dark-purple) !important;

    text-decoration: none;
  }

  &--size-s {
    .clink__label {
      text-underline-offset: 3px;
    }
  }

  &--size-m {
    .clink__label {
      text-underline-offset: 4px;
    }
  }

  &--size-l {
    .clink__label {
      text-underline-offset: 5px;
    }
  }
}