@import (reference) "../../assets/tokens/index.less";

.fk-cbutton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: transform 0.05s ease-out;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background-color: var(--fk-control-hover);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;

    &--icon-position-left {
      flex-direction: row-reverse;
    }
  }

  &__icon {
    display: inline-flex;
  }

  &__primary {
    color: var(--fk-greyscale-0);
    background-color: var(--fk-control-primary-active);
  }

  &__primary-alternate {
    color: var(--fk-greyscale-0);
    background-color: var(--fk-control-secondary-active);
  }

  &__secondary {
    color: var(--fk-dark-purple);
    background-color: var(--fk-control-tertiary-active);
  }

  &__negative {
    color: var(--fk-dark-red);
    background-color: var(--fk-control-tertiary-active);
  }

  &__transparent {
    color: var(--fk-text-primary-alt);
    background-color: transparent;
  }

  &:disabled {
    color: var(--fk-greyscale-400);
    background-color: var(--fk-control-inactive);
    pointer-events: none;
    transform: none;
  }

  &--size-l {
    height: 48px;
    padding: var(--fk-space-12);
    border-radius: var(--fk-radius-12);

    .fk-cbutton__label {
      padding: var(--fk-space-2) var(--fk-space-8);
    }
  }

  &--size-m {
    height: 40px;
    padding: var(--fk-space-8) var(--fk-space-12);
    border-radius: var(--fk-radius-10);

    .fk-cbutton__label {
      padding: var(--fk-space-2) var(--fk-space-8);
    }
  }

  &--size-s {
    height: 32px;
    padding: var(--fk-space-8) var(--fk-space-10);
    border-radius: var(--fk-radius-8);

    .fk-cbutton__label {
      padding: 0 var(--fk-space-4);
    }
  }

  &--full-width {
    width: 100%;
  }

  &:hover:not(:disabled) {
    &::after {
      opacity: 1;
    }
  }

  &:active:not(:disabled) {
    &.fk-cbutton--size-l {
      transform: scale(0.96); // 48px → 46px
    }

    &.fk-cbutton--size-m {
      transform: scale(0.95); // 40px → ~38px
    }

    &.fk-cbutton--size-s {
      transform: scale(0.9375); // 32px → ~30px
    }
  }
}
