@import "../../assets/tokens/index.less";

.button {
  padding: var(--space-8) var(--space-16);
  border: none;
  border-radius: var(--radius-4);
  cursor: pointer;
  opacity: 1;
  color: var(--text-inverted);
  font-family: var(--font-regular);

  &--variant-primary {
    background-color: var(--btn-primary-active);
  }
  &--variant-secondary {
    background-color: var(--btn-secondary-active);
  }
  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
