@import "../../assets/tokens/index.less";

.cswitch {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:has(&__field:disabled) {
    cursor: default;
  }

  &__field {
    appearance: none;
    margin: 0;
    cursor: inherit;
    background-color: var(--bg-secondary);
    transition: background-color 160ms ease, box-shadow 160ms ease;

    &:checked {
      background-color: var(--btn-primary-active);
    }

    &:checked:disabled {
      background-color: color-mix(
              in srgb,
              var(--btn-primary-active) 40%,
              var(--btn-inactive)
      );
    }
  }

  &__knob {
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--greyscale-0);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 1px 0 rgba(0, 0, 0, 0.06);
    transition: transform 160ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    pointer-events: none;
  }

  &__lock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-tertiary);
  }

  .switch-size(m, 40px, 24px, 20px, 18px, 16px);
  .switch-size(l, 56px, 32px, 28px, 26px, 24px);
}

.switch-size(@size-name; @track-width; @track-height; @knob-size; @knob-offset; @lock-size) {
  &--size-@{size-name} &__field {
    width: @track-width;
    height: @track-height;
    border-radius: 40px;
  }

  &--size-@{size-name} &__knob {
    width: @knob-size;
    height: @knob-size;
  }

  &--size-@{size-name} &__field:checked ~ &__knob {
    transform: translateX(@knob-offset);
    left: 0;
  }
}
