@import "../../assets/tokens/index.less";

@scrollbar-thumb-size: var(--space-4);
@scrollbar-offset: var(--space-4);
@scrollbar-track-size: calc(@scrollbar-thumb-size + @scrollbar-offset);
@scrollbar-thumb-color: color-mix(
  in srgb,
  var(--scrollbar-thumb) 50%,
  transparent
);

.cscrollbar {
  box-sizing: border-box;
  overflow: auto;

  /* standard — только где нет ::-webkit-scrollbar */
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: @scrollbar-thumb-color transparent;
  }

  /* legacy */
  &::-webkit-scrollbar {
    width: @scrollbar-track-size;
    height: @scrollbar-track-size;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-color;
    border-radius: var(--radius-40);
    border: calc(@scrollbar-offset / 2) solid transparent;
    background-clip: content-box;
  }

  &--axis-vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--axis-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
