@import (reference) "../../assets/tokens/index.less";

.fk-cdivider {
  flex-shrink: 0;
  background-color: var(--fk-bg-stroke);

  &--flow-horizontal {
    width: 100%;
    height: 1px;
  }

  &--flow-vertical {
    width: 1px;
    height: 100%;
    align-self: stretch;
  }

  &--variant-dashed {
    color: var(--fk-bg-stroke);
    background-color: transparent;
    background-image: radial-gradient(
      circle 2px at 50% 50%,
      currentColor 99%,
      transparent 100%
    );
  }

  &--variant-dashed&--flow-horizontal {
    background-position-x: -4px;
    height: 4px;
    background-size: 8px 4px;
    background-repeat: round no-repeat;
  }

  &--variant-dashed&--flow-vertical {
    background-position-y: -4px;
    width: 4px;
    background-size: 4px 8px;
    background-repeat: no-repeat round;
  }
}
