@import "../../assets/tokens/index.less";

.cdivider {
  flex-shrink: 0;
  background-color: var(--bg-stroke);

  &--flow-horizontal {
    width: 100%;
    height: 1px;
  }

  &--flow-vertical {
    width: 1px;
    height: 100%;
    align-self: stretch;
  }
}
