@import "../../assets/tokens/index.less";

@cell-horizontal-paddings: 0, 8, 12, 16;

.ccell {
  min-width: 0;
  cursor: default;

  --cell-bg-color: transparent;

  color: var(--text-primary);
  background-color: var(--cell-bg-color);
  border-radius: var(--radius-20);

  each(@cell-horizontal-paddings, {
    &--padding-@{value} {
      .ccell__left,
      .ccell__body > .ccell__content:first-child {
        padding-left: ~"var(--space-@{value})";
      }

      .ccell__right {
        padding-right: ~"var(--space-@{value})";
      }
    }
  });

  &__body {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    column-gap: var(--space-12);
    padding: var(--space-10) 0;
    min-width: 0;

    &:has(.ccell__separator) {
      padding-bottom: 0;
      row-gap: var(--space-10);
    }
  }

  &__left {
    grid-column: 1;
    grid-row: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &--align-top &__left {
    align-self: flex-start;
  }

  &__content {
    grid-column: 2;
    grid-row: 1;
    min-width: 0;
  }

  &__text-stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    min-width: 0;
  }

  &__caption {
    color: var(--text-secondary);
  }

  &__right {
    grid-column: 3;
    grid-row: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__separator {
    grid-column: 2 / -1;
    grid-row: 2;
    height: 1px;
    background-color: var(--bg-stroke);
  }
}
