@import "../../assets/tokens/index.less";

@cell-horizontal-paddings: 0, 8, 12, 16;

.ccell {
  min-width: 0;
  cursor: default;
  overflow: hidden;

  --cell-bg-color: transparent;
  --cell-padding-inline: 0;

  color: var(--text-primary);
  background-color: var(--cell-bg-color);
  border-radius: var(--radius-20);

  each(@cell-horizontal-paddings, {
    &--padding-@{value} {
      --cell-padding-inline: ~"var(--space-@{value})";

      .ccell__left,
      .ccell__body > .ccell__content:first-child {
        padding-left: ~"var(--space-@{value})";
      }

      .ccell__content .ccell__right,
      .ccell__body > .ccell__content:last-child:not(:has(.ccell__right)) {
        padding-right: ~"var(--space-@{value})";
      }
    }
  });

  &__body {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    column-gap: var(--space-12);
    padding: var(--space-10) 0;
    min-width: 0;

    &--with-separator {
      grid-template-rows: auto auto;
      row-gap: var(--space-10);

      &::after {
        content: "";
        grid-column: 2;
        grid-row: 2;
        justify-self: stretch;
        min-width: 0;
        height: 1px;
        background-color: var(--bg-stroke);
      }
    }
  }

  &__left {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    display: flex;
    align-items: center;
  }

  &--align-top &__left,
  &--align-top &__content {
    align-self: start;
  }

  &--align-top &__content {
    align-items: start;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    column-gap: var(--space-12);
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-self: stretch;
    min-width: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    min-width: 0;
    grid-column: 1;
    grid-row: 1;
  }

  &__label,
  &__caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  &__label {
    -webkit-line-clamp: 3;
  }

  &__caption {
    -webkit-line-clamp: 3;
    color: var(--text-secondary);
  }

  &__right {
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
  }
}
