@import "../../assets/tokens/index.less";

.cmodal-body {
  flex: 1 1 auto;
  min-height: 0;
  padding: var(--space-20);
  box-sizing: border-box;
  overflow-y: auto;

  &--mobile {
    padding: var(--space-8) var(--space-16) var(--space-16) var(--space-16);
  }
}
