@import (reference) "../../assets/tokens/index.less";

.fk-cbadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__icon {
    display: inline-flex;
  }

  &__primary {
    color: var(--fk-text-inverted);

    &--accent {
      background-color: var(--fk-accent-active);
    }

    &--positive {
      background-color: var(--fk-accent-positive);
    }

    &--negative {
      background-color: var(--fk-accent-negative);
    }
  }

  &__secondary {
    background-color: var(--fk-bg-secondary);

    &--accent {
      color: var(--fk-accent-active);
    }

    &--positive {
      color: var(--fk-accent-positive);
    }

    &--negative {
      color: var(--fk-accent-negative);
    }
  }

  &__outline {
    background-color: transparent;

    &--accent {
      outline: 1px solid var(--fk-accent-active);
      color: var(--fk-accent-active);
    }

    &--positive {
      outline: 1px solid var(--fk-accent-positive);
      color: var(--fk-accent-positive);
    }

    &--negative {
      outline: 1px solid var(--fk-accent-negative);
      color: var(--fk-accent-negative);
    }
  }

  &--size-s {
    border-radius: var(--fk-radius-6);
    padding: var(--fk-space-0) var(--fk-space-4);
  }

  &--size-m {
    border-radius: var(--fk-radius-6);
    padding: var(--fk-space-2) var(--fk-space-4);
    column-gap: var(--fk-space-2);
  }

  &--size-l {
    border-radius: var(--fk-radius-10);
    padding: var(--fk-space-4) var(--fk-space-6);
    column-gap: var(--fk-space-4);
  }

  &--has-icon {
    &.fk-cbadge--size-m {
      padding-left: var(--fk-space-4);
      padding-right: var(--fk-space-2);
    }

    &.fk-cbadge--size-l {
      padding-left: var(--fk-space-6);
      padding-right: var(--fk-space-4);
    }

    &.fk-cbadge--icon-position-left {
      &.fk-cbadge--size-m {
        padding-left: var(--fk-space-2);
        padding-right: var(--fk-space-4);
      }

      &.fk-cbadge--size-l {
        padding-left: var(--fk-space-4);
        padding-right: var(--fk-space-6);
      }
    }
  }

  &--icon-position-left {
    flex-direction: row-reverse;
  }
}
