@import "../../assets/tokens/index.less";

.cbadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__icon {
    display: inline-flex;
  }

  &__primary {
    color: var(--text-inverted);

    &--accent {
      background-color: var(--accent-active);
    }

    &--positive {
      background-color: var(--accent-positive);
    }

    &--negative {
      background-color: var(--accent-negative);
    }
  }

  &__secondary {
    background-color: var(--bg-secondary);

    &--accent {
      color: var(--accent-active);
    }

    &--positive {
      color: var(--accent-positive);
    }

    &--negative {
      color: var(--accent-negative);
    }
  }

  &__outline {
    background-color: transparent;

    &--accent {
      outline: 1px solid var(--accent-active);
      color: var(--accent-active);
    }

    &--positive {
      outline: 1px solid var(--accent-positive);
      color: var(--accent-positive);
    }

    &--negative {
      outline: 1px solid  var(--accent-negative);
      color: var(--accent-negative);
    }
  }

  &--size-s {
    border-radius: var(--radius-6);
    padding: var(--space-0) var(--space-4);
  }

  &--size-m {
    border-radius: var(--radius-6);
    padding: var(--space-2) var(--space-4);
    column-gap: var(--space-2);
  }

  &--size-l {
    border-radius: var(--radius-10);
    padding: var(--space-4) var(--space-6);
    column-gap: var(--space-4);
  }

  &--has-icon {
    &.cbadge--size-m {
      padding-left: var(--space-4);
      padding-right: var(--space-2);
    }

    &.cbadge--size-l {
      padding-left: var(--space-6);
      padding-right: var(--space-4);
    }

    &.cbadge--icon-position-left {
      &.cbadge--size-m {
        padding-left: var(--space-2);
        padding-right: var(--space-4);
      }

      &.cbadge--size-l {
        padding-left: var(--space-4);
        padding-right: var(--space-6);
      }
    }
  }

  &--icon-position-left {
    flex-direction: row-reverse;
  }
}
