@import "../../../assets/tokens/index.less";

.fk-cavatar-status {
  --fk-avatar-status-bg: var(--fk-accent-notification);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--fk-radius-8);
  background-color: var(--fk-avatar-status-bg);
  color: var(--fk-icon-inverted);

  &--clickable {
    cursor: pointer;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--size-s,
  &--size-m {
    width: 16px;
    height: 16px;
    border-radius: var(--fk-radius-6);
  }

  &--size-s {
    padding: var(--fk-space-2);
  }

  &--size-m {
    padding: var(--fk-space-4);
  }

  &--size-l {
    width: 24px;
    height: 24px;
    border-radius: var(--fk-radius-10);
    padding: var(--fk-space-4);
  }
}