@import (reference) "../../assets/tokens/index.less";

.fk-ctextarea {
  display: flex;
  flex-direction: column;
  row-gap: var(--fk-space-4);
  color: var(--fk-text-secondary);

  &__label {
    display: flex;
    column-gap: var(--fk-space-4);

    &--required::after {
      content: "*";
      color: var(--fk-text-negative);
    }
  }

  &__disabled-icon {
    display: inline-flex;
    color: var(--fk-icon-tertiary);
  }

  &__field {
    width: 100%;
    padding: var(--fk-space-6) var(--fk-space-10);
    box-sizing: border-box;
    background-color: var(--fk-bg-secondary);
    border: none;
    border-radius: var(--fk-radius-8);
    outline: 1px solid var(--fk-bg-stroke);
    color: var(--fk-text-primary);
    font-family: var(--fk-font-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    resize: none;

    &::placeholder {
      color: var(--fk-text-tertiary);
    }

    &:focus,
    &:focus-visible {
      outline-color: var(--fk-control-primary-active);
      caret-color: var(--fk-greyscale-800);
    }

    &--size-m {
      min-height: 112px;
    }

    &--size-s {
      min-height: 72px;
    }

    &--resize {
      resize: vertical;
    }
  }

  &--error {
    color: var(--fk-text-negative);
  }
}
