@import "../../assets/tokens/index.less";

.cinput {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);

  &__label {
    display: flex;
    color: var(--text-secondary) !important;
    column-gap: var(--space-4);

    svg {
      color: var(--icon-tertiary);
    }

    &--error {
      color: var(--text-negative) !important;
    }

    &--required::after {
      content: "*";
      color: var(--text-negative);
    }
  }

  &__caption {
    display: flex;
    color: var(--text-secondary) !important;

    &--error {
      color: var(--text-negative) !important;
    }
  }

  &__field-container {
    position: relative;
  }

  &__field {
    width: 100%;
    height: 32px;
    padding: var(--space-4) var(--space-32) var(--space-4) var(--space-10);
    box-sizing: border-box;
    background-color: var(--bg-secondary);
    border: none;
    border-radius: var(--radius-8);
    outline: 1px solid var(--bg-stroke);
    color: var(--text-primary);
    font-family: var(--font-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    &:focus,
    &:focus-visible {
      outline-color: var(--btn-primary-active);
      caret-color: var(--greyscale-800);

      &::placeholder {
        color: var(--text-tertiary);
      }
    }
  }

  &__disabled-icon {
    display: inline-flex;
  }

  &__action-icon {
    position: absolute !important;
    right: 0;
    color: var(--icon-tertiary) !important;
  }

  &__error-icon {
    display: inline-flex;
    position: absolute !important;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    color: var(--accent-negative) !important;
  }
}
