name: ESLint
on:
  push:
    paths:
      - 'packages/ui/src/**'
      - '.github/workflows/eslint.yml'
  pull_request:
    paths:
      - 'packages/ui/src/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm i
      - name: Run ESLint
        run: cd packages/ui && npm run lint